@import '~/scss/variables.scss';
@import '~/scss/mixins.scss';

.Chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    padding: 2rem 0;
  }

  &__message {
    &__container {
      display: flex;
      align-items: flex-start;
      padding: 0.5rem 0;
      gap: 1rem;

      &:has(.Chat__message--outgoing) {
        justify-content: flex-end;
      }

      &:has(.Chat__message--incoming) {
        margin-bottom: 1rem;
      }
    }

    &__avatar {
      flex: 0 0 36px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid $gray-400;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__message {
    border-radius: 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;

    &--error {
      background-color: $red-100;
      color: $red-900;
      padding: 0.5rem 1rem;
    }

    &--incoming {
      align-self: flex-start;
      max-width: 90%;
    }

    &--outgoing {
      align-self: flex-end;
      background-color: $gray-200;
      max-width: 70%;
      padding: 0.5rem 1rem;
    }
  }
}
