@mixin sans {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin light {
  font-weight: 300;
}
@mixin normal {
  font-weight: 400;
}
@mixin medium {
  font-weight: 500;
}
@mixin semi-bold {
  font-weight: 600;
}
@mixin bold {
  font-weight: 700;
}

@mixin shadow-none {
  box-shadow: none;
}
@mixin shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
@mixin shadow-md {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
@mixin shadow-lg {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
}