$white: #ffffff;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue-100: #e2e3fe;
$blue-200: #c0c2fd;
$blue-300: #9fa2fc;
$blue-400: #7e82fa;
$blue-500: #5d62f9;
$blue-600: #3c43f8;
$blue-700: #1b23f7;
$blue-800: #0810e7;
$blue-900: #070ec6;

$red-100: #fbdfe3;
$red-200: #f6bfc6;
$red-300: #f29faa;
$red-400: #ee7f8e;
$red-500: #e95f71;
$red-600: #e53f55;
$red-700: #e01e37;
$red-800: #b0182c;
$red-900: #7d111f;

$green-100: #d8efe3;
$green-200: #c4e7d5;
$green-300: #b0dfc8;
$green-400: #93d3b3;
$green-500: #74c69d;
$green-600: #55ba88;
$green-700: #41a071;
$green-800: #34805a;
$green-900: #215038;
